import * as React from 'react';

export type {{capitalize component_name}}Props = {
};

export class {{capitalize component_name}} extends React.Component<{{capitalize component_name}}Props> {
  render() {
    return (
      <div>{{capitalize component_name}}</div>
    );
  }
}
